<% include ../partials/header %>

<div class='container'>
    <div class='jumbotron'>
        <h1>Welocme To YelpCamp</h1>
        <p><a href='/campgrounds/new'>Add More</a></p>
    </div>
    <div class='row'>
        <% campgrounds.forEach(function(camp){ %>
            <div class='col-sm-6 col-md-4' >
                <div class='thumbnail'>
                    <img src="<%= camp.image %>">
                    <div class='caption'>
                        <h4><%= camp.title %></h4>
                        <a href='/campgrounds/<%= camp._id %>'>View More</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>



<% include ../partials/footer %>